:root {
  --red: #ef5350;
  --orange: #ffa726;
  --yellow: #ffeb3b;
  --green: #66bb6a;
  --blue: #42a5f5;
  --purple: #ba68c8;
}

.bg-red {
  background-color: var(--red);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* justify-content: center; */
  /* align-content: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  font-display: block;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.cursor {
  animation: 2s infinite alternate breathing;
}

@keyframes breathing {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

em-emoji-picker {
  --font-family: "ubuntu", helvetica;
  width: 100%;
  /* 
  --background-rgb: 85, 170, 255;
  --border-radius: 4vmin;
  --category-icon-size: 24px;
  --color-border-hover: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.05);
  --font-size: 20px;
  --rgb-accent: 255, 105, 180;
  --rgb-background: #fff;
  --rgb-color: 102, 51, 153;
  --rgb-input: 255, 235, 235;
  --shadow: 5px 5px 15px -8px rebeccapurple;
  height: 50vh; 
  */
}

.shakeAnimation {
  animation: shake 1s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-3px, 0);
  }

  40%,
  60% {
    transform: translate(3px, 0);
  }
}

@keyframes float {
  /* 0%, 100%{
    transform: translate(0, -2px);
  } */
  50% {
    transform: translate(0, 4px);
  }
}

@keyframes breathe {
  50% {
    box-shadow: none;
  }
}

@keyframes expand {
  50% {
    border: 2px solid;
  }
}

@keyframes whiteSmoke {
  50% {
    background-color: transparent;
  }
}
